img.centered
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-header
{
    border-top: initial;
}

.site-title
{
    float: initial;
}

.site-icon
{
    vertical-align: -12%;
}

.site-footer > .wrapper
{
    display: flex;
    flex-direction: row-reverse;

    div
    {
        flex-grow: 1;
    }

    .social-links > ul
    {
        margin-left: 0;
    }

    .footer-col-wrapper
    {
        display: flex;
        align-items: center;

        *
        {
            margin: 0;
        }
    }
}